<ul><strong>Task Details:</strong>
    <p></p>
    <li>Name: <%= @task[:name] %></li>
    <li>Description: <%= @task[:description] %></li>
    <li>Is this complete? <%= format_complete(@task) %></li>
    <li>Completion Date/Time: <%= @task[:completed_at] %></li>
</ul>
